@import "../variables.scss";
//main page container//
.projectsPage {
  max-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0.25em;
  padding-inline: 0.5em;
  margin-bottom: 10px;
}
//title//
.projectsTitle {
  @include sectionTitle;
  margin-bottom: 2rem;
}
.projectsTitle::after {
  @include pageTitleAfter;
}

//side navigation icon styling//
.navIcon {
  position: absolute;
  padding: 0.2rem;
  border-radius: 5px;
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;

  @include breakPoint {
    display: flex;
    height: 100%;
  }
}
.navIcon:hover {
  // background-color: $link-color;
  background-image: linear-gradient(
    transparent 20%,
    $link-color,
    transparent 80%
  );
  color: black !important;
}
.navIcon:hover > svg {
  color: $background-color;
}
.forwardIcon {
  right: -50px;
  bottom: 0;
}
.backIcon {
  left: -50px;
  bottom: 0;
}

//project grid, overlay and inner div//
.projectOverlay {
  position: relative;
  flex: 1;
}
.projectsOuter {
  height: 100%;
  overflow: hidden;
}
.projectsInner {
  white-space: nowrap;
  height: 100%;
  transition: transform 0.3s;
  scroll-behavior: smooth;
}
.projectGrid {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.project {
  @include commonBorder;
  padding: 0.5em;
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  white-space: normal;
  height: 95%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  @include breakPoint {
    flex-direction: row;
  }
}
.projectGrid {
  .project {
    width: 45% !important;
    flex-grow: 1;
    height: 90vh;
    flex-direction: column;
    padding: 0.05em;
    justify-content: center;
    .projectLinks {
      font-size: $paragraphFont;
    }
    .bottomRow {
      padding-bottom: 0.5rem;
      .projectDescription {
        font-size: $paragraphFont * 0.75;
      }
    }
    .topRow {
      .projectImage {
        width: 75%;
      }
      .projectTitle {
        font-size: $subTitleFont * 0.75;
      }
      .projectDescription {
        font-size: $paragraphFont * 0.5;
      }
    }
  }
  .project:last-of-type:nth-of-type(odd) .topRow .projectImage {
    width: 40%;
  }
}

.projectGrid > .project > .bottomRow > .learnMore {
  font-size: $paragraphFont * 0.75;
}
.topRow {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  @include breakPoint {
    gap: 2rem;
    align-items: center;
  }
}
.projectTitle {
  color: $font-color;
  font-size: 35px;
  @include breakPoint {
    font-size: $subTitleFont;
  }
}
.projectImage {
  width: 100%;
  border-radius: 10px;
  border: 5px solid $link-color;
  @include breakPoint {
    width: 100%;
  }
}
.projectLinks {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-height: min-content;
  padding: 0;
  font-size: 30px;
  @include breakPoint {
    font-size: $subTitleFont;
  }
}
.projectLinks > a > h4 {
  margin: 0;
}
.bottomRow {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 2rem;
  box-sizing: border-box;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  @include breakPoint {
    gap: 2rem;
  }
}
.projectDescription {
  color: $font-color;
  font-size: $subTitleFontMobile;
  text-align: center;
  width: 75%;
  padding-bottom: 0.75em;
  @include breakPoint {
    font-size: $paragraphFont;
  }
}
.learnMore {
  cursor: pointer;
  background-color: $link-color;
  border: 2px solid $font-color;
  color: $font-color;
  font-size: $paragraphFontMobile;
  padding: 0.5em;
  border-radius: 20px;
  width: 40%;
  align-self: center;
  @include breakPoint {
    font-size: $paragraphFont;
  }

  &:hover {
    background-color: #398ab983;
    -webkit-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
  }
}

//custom toggle switch//
.sliderCheckBox {
  opacity: 0;
  height: 0;
  width: 0;
}
.sliderBackground {
  background-color: $font-color;
  display: inline-block;
  height: 50px;
  width: 100px;
  border-radius: 50px;
  border: 2px solid $link-color;
  position: relative;
  align-self: center;
}
.sliderBackgroundLeft {
  background-color: $background-color !important;
}
.sliderRight {
  position: absolute;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: $font-color;
  border: 2px solid $link-color;
  box-sizing: border-box;
  top: 2.5px;
  right: 2.5px;
  box-shadow: -3px 3px 3px black;
  transition-duration: 15ms;
}
.sliderLeft {
  position: absolute;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: $link-color;
  border: 2px solid $font-color;
  box-sizing: border-box;
  top: 2.5px;
  left: 2.5px;
  box-shadow: 3px 3px 3px $background-color;
  transition-duration: 15s;
}
.sliderLabel {
  font-size: $paragraphFont;
  color: $font-color;
}
.sliderContainer {
  display: none;
  @include breakPoint {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

//Mobile Project Nav
.tabs {
  display: flex;
  margin-top: 10px;
  max-width: 100vw;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  @include breakPoint {
    display: none;
  }
}
.tabText {
  color: $font-color;
  opacity: 0.2;
  font-size: ($paragraphFontMobile - 3px);
  margin-bottom: 0.5rem;
}
.tabButton {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid $font-color;
  color: $font-color;
  font-size: $paragraphFontMobile;
  padding-inline: 1.5em;
  padding-block: 0.5em;
  border-radius: 20px;
  align-self: center;
  transition-duration: 700ms;
}
.activeButton {
  background-color: $background-color !important;
  border: 2px solid $link-color !important;
}
